<!--
Copyright © 2017 Seção Técnica de Informática - STI / ICMC <sti@icmc.usp.br>

Este arquivo é parte do programa "Vagas"

Vagas é um software livre; você pode redistribuí-lo e/ou 
modificá-lo dentro dos termos da Licença Pública Geral GNU como 
publicada pela Fundação do Software Livre (FSF); na versão 3 da 
Licença, ou (a seu critério) qualquer versão posterior.

Este programa é distribuído na esperança de que possa ser  útil, 
mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO
a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a
Licença Pública Geral GNU para maiores detalhes.

                    Você deve ter recebido uma cópia da Licença Pública Geral GNU junto
                    com este programa, Se não, veja <http://www.gnu.org/licenses/>.
-->
<script>
    $(document).ready(function () {

        $("#inputNome").blur(function () {
            $.post("{PHP_SELF}", {find_exists: $("#inputNome").val()}).done(function (data) {
                if (data === 0) {
                    $(".has-warning").addClass('d-none');
                } else {
                    $(".has-warning").removeClass('d-none');
                }
            });
        });

        $('.telefone').mask("(99) 9999-9999?9").on('keyup', function () {  
            if ($(this).val().indexOf('_') === -1) {
                if ($(this).val().length === 15) {
                    $(this).unmask();
                    $(this).mask("(99) 99999-9999");
                }
            } else if ($(this).val().indexOf('_') === 14) {
                $(this).unmask();
                $(this).mask("(99) 9999-9999?9");
            }
        });

        $(".pop").hover(function () {
            $(this).popover('show');
        }, function () {
            $(this).popover('hide');
        });

        $("#inputSigla").focus();

        $("#inputCep").on('keyup', function () {
            if ($(this).val().indexOf('_') === -1) {
                $(".img-carregar-cep").removeClass('d-none');
                $cep = $(this).val().replace('-', '');
                $.get("https://viacep.com.br/ws/" + $cep + "/json/", function (data) {
                    $("#inputLogradouro").val(data['logradouro']);
                    $("#inputBairro").val(data['bairro']);
                    $("#inputCidade").val(data['localidade']);
                    getEstadoPais(data['uf']);
                    $(".img-carregar-cep").addClass('d-none');
                });
            }
        });
        $("#inputCep").mask('99999-999');
        $("#inputCNPJ").mask('99.999.999/9999-99');
        $("#inputCPF").mask('999.999.999-99');

        function getEstadoPais($sigla) {
            $.post("{URL}/estado/", {showEstado: $sigla}).done(function (data) {
                $dados = data.split('--');
                $('#estado_id').val($dados[0]);
                $('#pais_id').val($dados[1]);
            });
        }

        $("#inputCidade").on('input', function () {
            if ($(this).val().indexOf(' -- ') > -1) {
                $cidade = $(this).val().split(' -- ');
                getEstadoPais($cidade[1]);
                $.post("{URL}/cidade/", {showCidade: $cidade[0]}).done(function (data) {
                    $dados = data.split('--');
                    $('#cidade_id').val($dados[0]);
                });
            } else {
                $.post("{URL}/cidade/", {showCidade: $(this).val()}).done(function (data) {
                    if (data !== '---') {
                        $dados = data.split('--');
                        getEstadoPais($dados[2]);
                        $('#cidade_id').val($dados[0]);
                    } else {
                        $('#estado_id').val(null);
                        $('#pais_id').val(null);
                        $('#cidade_id').val(0);
                    }
                });
            }
        });

        $("#inputCidade").focusout(function () {
            if ($(this).val().indexOf(' -- ') > -1) {
                $cidade = $(this).val().split(' -- ');
                $('#inputCidade').val($cidade[0]);
            }
        });
        
        function alterarPessoa($valor) {
            if ($valor === 'J') {
                $('.pessoa_juridica').removeClass('d-none');
                $('.pessoa_fisica').addClass('d-none');
                $("#inputCNPJ").attr('required', 'required');
                $("#inputRazaoSocial").attr('required', 'required');
                $("#inputNomeFantasia").attr('required', 'required');
                $("#inputNome").removeAttr('required');
                $("#inputCPF").removeAttr('required');
            } else {
                $('.pessoa_juridica').addClass('d-none');
                $('.pessoa_fisica').removeClass('d-none');
                $("#inputCNPJ").removeAttr('required');
                $("#inputRazaoSocial").removeAttr('required');
                $("#inputNomeFantasia").removeAttr('required');
                $("#inputNome").attr('required', 'required');
                $("#inputCPF").attr('required', 'required');
            }
        }

        $("input[type=radio]").on('change', function () {
            alterarPessoa($(this).val());
        });
        
        alterarPessoa('{TIPO-PESSOA}');
    });

</script>

<!-- Main content -->
<input type="hidden" name="id" value="{ID}" />
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">{TITULO}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <p> Campos obrigatórios</p>
            <!-- BEGIN row_opts -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input type="radio" checked="checked" name="tipo_pessoa" value="F"> Pessoa física <br />
                    <input type="radio" name="tipo_pessoa" value="J"> Pessoa jurídica
                </div>
            </div>
            <!-- END row_opts -->
            <div class="pessoa_juridica {D-NONE-JURIDICA}">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="d-flex align-items-center justify-content-between">
                            <label for="inputCNPJ">CNPJ <span class="text-danger"><b>*</b></span></label>
                            <span data-toggle="popover" data-placement="left" data-content='CNPJ do varejista caso haja' class="pop"><i class="fa fa-question-circle"></i></span>
                        </div>
                        <input type="text" class="form-control" id="inputCNPJ" name="cnpj" value="{CNPJ}" />
                    </div>

                    <div class="form-group col-md-6">
                        <div class="d-flex align-items-center justify-content-between">
                            <label for="inputInscricao">Inscrição Estadual </label>
                            <span data-toggle="popover" data-placement="left" data-content='IE caso haja' class="pop"><i class="fa fa-question-circle"></i></span>
                        </div>
                        <input type="text" class="form-control" id="inputIE" name="inscricao" value="{INSCRICAO}" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="d-flex align-items-center justify-content-between">
                        <label for="inputRazaoSocial">Razão Social <span class="text-danger"><b>*</b></span></label>
                        <span data-toggle="popover" data-placement="left" data-content='Razão Social do varejista' class="pop"><i class="fa fa-question-circle"></i></span>
                    </div>
                    <input type="text" class="form-control" id="inputRazaoSocial" name="razao_social" value="{RAZAO_SOCIAL}" />
                </div>

                <div class="form-group">
                    <div class="d-flex align-items-center justify-content-between">
                        <label for="inputNomeFantasia">Nome Fantasia <span class="text-danger"><b>*</b></span></label>
                        <span data-toggle="popover" data-placement="left" data-content='Nome Fantasia do varejista' class="pop"><i class="fa fa-question-circle"></i></span>
                    </div>
                    <input type="text" class="form-control" id="inputNomeFantasia" name="nome_fantasia" value="{NOME_FANTASIA}" />
                </div>
            </div>

            <div class="pessoa_fisica {D-NONE-FISICA}">
                <div class="form-group">
                    <div class="d-flex align-items-center justify-content-between">
                        <label for="inputNome">Nome <span class="text-danger"><b>*</b></span></label>
                        <span data-toggle="popover" data-placement="left" data-content='Nome do varejista' class="pop"><i class="fa fa-question-circle"></i></span>
                    </div>
                    <input type="text" class="form-control" id="inputNome" name="nome" value="{NOME}" />
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="d-flex align-items-center justify-content-between">
                            <label for="inputCPF">CPF <span class="text-danger"><b>*</b></span></label>
                            <span data-toggle="popover" data-placement="left" data-content='CPF do varejista, se não houver CNPJ' class="pop"><i class="fa fa-question-circle"></i></span>
                        </div>
                        <input type="text" class="form-control" id="inputCPF" name="cpf" value="{CPF}" />
                    </div>

                    <div class="form-group col-md-6">
                        <div class="d-flex align-items-center justify-content-between">
                            <label for="inputRG">RG </label>
                            <span data-toggle="popover" data-placement="left" data-content='RG não obrigatório (pessoa física)' class="pop"><i class="fa fa-question-circle"></i></span>
                        </div>
                        <input type="text" class="form-control" id="inputRG" name="rg" value="{RG}" />
                    </div>               
                </div>
            </div>

            <div class="form-group">
                <div class="d-flex align-items-center justify-content-between">
                    <label for="inputEmail">e-mail </label>
                    <span data-toggle="popover" data-placement="left" data-content='e-mail completo' class="pop"><i class="fa fa-question-circle"></i></span>
                </div>
                <input type="text" class="form-control" id="inputEmail" name="email" value="{EMAIL}"   />
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputTel1">Telefone principal</label>
                    <input type="text" class="form-control telefone" id="inputTel1" name="tel1" value="{TEL1}" />
                </div>
                <div class="form-group col-md-4">
                    <label for="inputTel2">Telefone</label>
                    <input type="text" class="form-control telefone" id="inputTel2" name="tel2" value="{TEL2}" />
                </div>
                <div class="form-group col-md-4">
                    <label for="inputTel3">Celular</label>
                    <input type="text" class="form-control telefone" id="inputTel3" name="tel3" value="{TEL3}" />
                </div>
            </div>

            <div class="form-group">
                <label for="inputInformacoes">Informações</label>
                <textarea class="form-control" id="inputInformacoes" name="informacoes" rows="3"></textarea>
            </div>

            <div class="form-group">
                <label for="inputLogo">Logo </label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputLogo" name="logo">
                    <label class="custom-file-label" for="customFile">Arquivo</label>
                </div>
            </div>


        </div>

        <!-- ENDERECO -->

        <div class="modal-header">
            <h5 class="modal-title">Endereço</h5>
        </div>
        <div class="modal-body">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCep">CEP <span class="text-danger"><b>*</b></span> <img src="{URL}/view/img/carregando.gif" height="28" class="img-carregar-cep d-none" style="margin-top: -10px;" /></label>
                    <input type="text" class="form-control" id="inputCep" name="cep" value="{CEP}" required="required" />
                </div>
                <div class="form-group col-md-6">
                    <label for="inputTipo">Tipo <span class="text-danger"><b>*</b></span></label>
                    <span data-toggle="popover" data-placement="left" data-content='Selecione o tipo de endereço' class="pop"><i class="fa fa-question-circle"></i></span>
                    <select class="form-control" id="inputTipo" name="tipo" required="required">
                        <option>Selecione</option>
                        <option value='1'>Residencial</option>
                        <option value='2'>Rural</option>
                        <option value='3'>Comercial</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-10">
                    <div class="d-flex align-items-center justify-content-between">
                        <label for="inputLogradouro">Endereço <span class="text-danger"><b>*</b></span></label>
                        <span data-toggle="popover" data-placement="left" data-content='Endereço do varejista' class="pop"><i class="fa fa-question-circle"></i></span>
                    </div>
                    <input type="text" class="form-control" id="inputLogradouro" name="logradouro" value="{LOGRADOURO}" required="required" />
                </div>

                <div class="form-group col-md-2">
                    <div class="d-flex align-items-center justify-content-between">
                        <label for="inputNumero">N&ordm; </label>
                        <span data-toggle="popover" data-placement="left" data-content='Número' class="pop"><i class="fa fa-question-circle"></i></span>
                    </div>
                    <input type="text" class="form-control" id="inputNumero" name="numero" value="{NUMERO}"  />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <div class="d-flex align-items-center justify-content-between">
                        <label for="inputBairro">Bairro </label>
                        <span data-toggle="popover" data-placement="left" data-content='Bairro do varejista' class="pop"><i class="fa fa-question-circle"></i></span>
                    </div>
                    <input type="text" class="form-control" id="inputBairro" name="bairro" value="{BAIRRO}"  />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <div class="d-flex align-items-center justify-content-between">
                        <label for="inputLatitude">Latitude <span class="text-danger"><b>*</b></span></label>
                        <span data-toggle="popover" data-placement="left" data-content='Latitude' class="pop"><i class="fa fa-question-circle"></i></span>
                    </div>
                    <input type="text" class="form-control" id="inputLatitude" name="latitude" value="{LATITUDE}" required="required" />
                </div>

                <div class="form-group col-md-6">
                    <div class="d-flex align-items-center justify-content-between">
                        <label for="inputLongitude">Longitude <span class="text-danger"><b>*</b></span></label>
                        <span data-toggle="popover" data-placement="left" data-content='Longitude' class="pop"><i class="fa fa-question-circle"></i></span>
                    </div>
                    <input type="text" class="form-control" id="inputLongitude" name="longitude" value="{LONGITUDE}" required="required" />
                </div>               
            </div>

            <div class="form-group">
                <div class="d-flex align-items-center justify-content-between">
                    <label for="inputCidade">Cidade <span class="text-danger"><b>*</b></span></label>
                    <span data-toggle="popover" data-placement="left" data-content='Selecione a cidade' class="pop"><i class="fa fa-question-circle"></i></span>
                </div>
                <input type="text" list="cidades" class="form-control" autocomplete="off" id="inputCidade" name="cidade" value="{CIDADE}" required="required" />
                {CIDADES}
                <input type="hidden" name="cidade_id" id="cidade_id" value="0" />
            </div>

            <div class="form-group">
                <div class="d-flex align-items-center justify-content-between">
                    <label for="inputEstado">Estado <span class="text-danger"><b>*</b></span></label>
                    <span data-toggle="popover" data-placement="left" data-content='Selecione o estado' class="pop"><i class="fa fa-question-circle"></i></span>
                </div>
                <select class="form-control" name="estado_id" id="estado_id" required="required">
                    {ESTADOS}
                </select>
            </div>

            <!--<div class="form-group">
                <div class="d-flex align-items-center justify-content-between">
                    <label for="inputPais">País </label>
                    <span data-toggle="popover" data-placement="left" data-content='Selecione o país' class="pop"><i class="fa fa-question-circle"></i></span>
                </div>
                <select class="form-control" name="pais_id" id="pais_id">
                    {PAISES}
                </select>
            </div>-->

            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-sm btn-primary" name="salvar" value="salvar">Salvar</button>
            </div>
        </div>
    </div>
</div>