<!--
Copyright © 2017 Seção Técnica de Informática - STI / ICMC <sti@icmc.usp.br>

Este arquivo é parte do programa "Vagas"

Vagas é um software livre; você pode redistribuí-lo e/ou 
modificá-lo dentro dos termos da Licença Pública Geral GNU como 
publicada pela Fundação do Software Livre (FSF); na versão 3 da 
Licença, ou (a seu critério) qualquer versão posterior.

Este programa é distribuído na esperança de que possa ser  útil, 
mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO
a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a
Licença Pública Geral GNU para maiores detalhes.

                    Você deve ter recebido uma cópia da Licença Pública Geral GNU junto
                    com este programa, Se não, veja <http://www.gnu.org/licenses/>.
-->
<script>
    $(document).ready(function () {

        $("#inputNome").blur(function () {
            $.post("{PHP_SELF}", {find_exists: $("#inputNome").val()}).done(function (data) {
                if (data == 0) {
                    $(".has-warning").addClass('d-none');
                } else {
                    $(".has-warning").removeClass('d-none');
                }
            });
        });


        $(".pop").hover(function () {
            $(this).popover('show');
        }, function () {
            $(this).popover('hide');
        });

        $("#inputSigla").focus();
    });

</script>

<!-- Main content -->
<input type="hidden" name="id" value="{ID}" />
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">{TITULO}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <p><span class="text-danger"><b>*</b></span> Campos obrigatórios</p>
            
            <div class="form-group">
                <div class="d-flex align-items-center justify-content-between">
                    <label for="inputGrupo">Grupo <span class="text-danger"><b>*</b></span></label>
                    <span data-toggle="popover" data-placement="left" data-content='Selecione o grupo de alimentos' class="pop"><i class="fa fa-question-circle"></i></span>
                </div>
                <select class="form-control" name="grupo_id" id="grupo_id" required="required">
                    {OPTION_GRUPOS}
                </select>
            </div>

            <div class="form-group">
                <div class="d-flex align-items-center justify-content-between">
                    <label for="inputGrupo">Descrição <span class="text-danger"><b>*</b></span></label>
                    <span data-toggle="popover" data-placement="left" data-content='Descrição, sujeito a aprovação' class="pop"><i class="fa fa-question-circle"></i></span>
                </div>
                <input type="text" class="form-control" id="inputGrupo" name="descricao" value="{DESCRICAO}"  required="required"  />
            </div>

            <div class="form-group has-warning d-none">
                <p class="text-warning"><b>ALERTA!</b> Esse grupo j&aacute; consta em nossa base de dados.</p>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-sm btn-primary" name="salvar" value="salvar">Salvar</button>
        </div>
    </div>
</div>